<div class="container">
    <form name="myform" #ng="ngForm" (ngSubmit)="onsubmitData(ng)">
      <label for="name" >First Name</label>
      <input type="text" class="form-control" name="name" ngModel>
      <label for="usernmae" >username</label>
      <input type="text" class="form-control" name="username" ngModel>
      <label for="email" >Email</label>
      <input type="email" class="form-control" name="email" ngModel>
    
      <button class=" btn btn-info">Submit</button>
    </form>
    </div>
    <button class=" btn btn-info mt-3" (click)="getApiServiceData()">get info</button>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
      <tr *ngFor="let data of userData">
         <td>{{data.id}}</td>
         <td>{{data.name}}</td>
         <td>{{data.username}}</td>
         <td>{{data.email}}</td>
         <td>{{data.address.city}}</td>
         
      </tr>
    </table>

